.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
	
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
	border-radius:3px;
}

.grid-view table.items th
{
	color: white;
	background: #cd0a0a;
	text-align: center;
	
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #FFF8DC;
}

.grid-view table.items tr.odd
{
	background: #FFDEAD;
}

.grid-view table.items tr.selected
{
	background: #FFF6BF;
}

.grid-view table.items tr:hover
{
	background: #FFF6BF;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}
/** Listview */
.list-view-loading
{
	background:url(loading.gif) no-repeat;
}

.list-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .sorter
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.list-view .sorter
{
	font-size: 0.9em;
}

.list-view .sorter ul
{
	display: inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.list-view .sorter li
{
	display: inline;
	margin: 0 0 0 5px;
	padding: 0;
}

.list-view .sorter a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.list-view .sorter a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

/** Pager */
ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #cd0a0a;
	font-weight:bold;
	color:#363636;
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #cd0a0a;
}

ul.yiiPager .selected a
{
	background:#cd0a0a;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #cd0a0a;
	font-weight:bold;
	color:#363636;
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #cd0a0a;
}

ul.yiiPager .selected a
{
	background:#cd0a0a;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

/** Detail View*/
table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
}

table.detail-view tr.odd
{
	background: #FFDEAD;
}

table.detail-view tr.even
{
	background: #FFF8DC;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}

#link a{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}#link a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}#link a:active {
	position:relative;
	top:1px;
}